$sqrt2: 1.414213562373095;
$tileSize: 50px;

@mixin user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row {
  margin: 10px;
}

.tile {
  width: $tileSize;
  height: $tileSize;
  box-sizing: border-box;
  display: inline-block;

  border: 1px solid black;
  border-right: 0;

  @include user-select-none();
  vertical-align: top;

  text-align: left;
  position: relative;
  white-space: nowrap;

  padding: 3px; // todo apply font design

  &:last-child {
    border-right: 1px solid black;
  }

  &.block {
    border-left: 0;
    cursor: move;

    &.first {
      border-left: 1px solid black;
    }
  }
}

.striped {
  background: repeating-linear-gradient(45deg,
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.8) ($tileSize / 4 * $sqrt2),
          rgba(255, 255, 255, 0) ($tileSize / 4 * $sqrt2),
          rgba(255, 255, 255, 0) ($tileSize / 2 * $sqrt2)
  );
}